.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
  }
  
  .section {
    border: 2px solid #ccc;
    padding: 20px;
    flex: 1;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 10px;
  }
  
  .background {
    background-image: url('https://thebrandinquirer.files.wordpress.com/2019/07/1-cinepolis-nuevo-redisencc83o-new-logo-redesign-2019-brand-my-f-opinion-1.png'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 36px;
    color: #fff; /* Color del texto del título */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para que el texto sea legible */
    padding: 20px;
    border-radius: 10px;
  }
  